.flex_container {
    display: flex;
    margin-top: 15px;
    margin-bottom: 50px;
}

.block {
    display: block;
    width: 200px;
}

.tagname {
    text-align: center;
}

.sform {
    margin-top: 10px;
}