<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Логин</title>
</head>
<body>
<p th:if="${param.error}">Неверные данные!</p>
<p th:if="${param.logout}">Вы вышли из системы</p>
<form method="post" th:action="@{/login}">
    <div th:hidden="${param.telegram_id != null}">
        Telegram ID: <input name="username" placeholder="Ваш Telegram ID" th:value="${param.telegram_id}"
                            type="text">
        <br>
    </div>
    Пароль: <input name="password" placeholder="Ваш пароль" type="password">
    <br>
    <input type="submit" value="Залогиниться">
</form>
</body>
</html>