<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Логин</title>
</head>
<body>
<p th:if="${param.error}">Неверные данные!</p>
<form th:action="@{/login}" method="post">
    <div th:hidden="${param.telegram_id != null}">
        Telegram ID: <input type="text" name="username" placeholder="Ваш Telegram ID"
                            th:value="${param.telegram_id}">
        <br>
    </div>
    Пароль: <input type="password" name="password" placeholder="Ваш пароль">
    <br>
    <input type="submit" value="Залогиниться">
</form>
</body>
</html>