<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>Главная страница</title>
</head>
<body>

<div>
    Залогинен как [[${username}]]
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти">
    </form>
</div>
<br>
<form method="get" th:action="@{/main}">
    <input name="searchBy" placeholder="Теги через пробел" type="text">
    <input type="submit" value="Искать по тегам">
</form>
<br><br>

<div>
    <div th:each="webtag : ${content}">
        <h2 class="tagname" th:text="${webtag.name}">Название тега</h2>
        <div class="flex_container" th:each="stickerList : ${webtag.stickers}">
            <div th:each="sticker : ${stickerList}">
                <img class="block" th:src="${sticker.src}">
                <form class="block sform" method="post" th:action="@{/main/changeTags}">
                    <input name="stickerId" th:value="${sticker.sticker.fileUniqueId}" type="hidden">
                    <input name="fileId" th:value="${sticker.sticker.fileId}" type="hidden">
                    <input name="tagName" th:value="${webtag.name}" type="hidden">
                    <input name="searchBy" th:if="${param.searchBy}" th:value="${param.searchBy}" type="hidden">
                    <input class="block" name="tags" placeholder="Теги через пробел" type="text">
                    <p><input name="action" type="radio" value="copy">Копировать в теги</p>
                    <p><input name="action" type="radio" value="move">Перенести в теги</p>
                    <input class="block" type="submit" value="Применить">
                </form>
                <form class="block sform" method="post" th:action="@{/main/deleteFromTag}">
                    <input name="stickerId" th:value="${sticker.sticker.fileUniqueId}" type="hidden">
                    <input name="fileId" th:value="${sticker.sticker.fileId}" type="hidden">
                    <input name="searchBy" th:if="${param.searchBy}" th:value="${param.searchBy}" type="hidden">
                    <input name="tagName" th:value="${webtag.name}" type="hidden">
                    <input class="block" type="submit" value="Удалить из тега">
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>