<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width" name="viewport">
    <!-- SPECTRE CSS -->
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" rel="stylesheet">
    <style>
        .form-wide {
            width: 100%
        }
        .columns {
            justify-content: center;
        }

    </style>
    <title>Главная страница</title>
</head>
<body>

<header class="navbar">
    <section class="navbar-section">
        <form class="d-flex" method="post" th:action="@{/logout}">
            <span class="label">Залогинен как [[${username}]]</span>
            <input class="btn btn-error" type="submit" value="Выйти">
        </form>
    </section>
    <section class="navbar-section">
        <form class="d-flex" method="get" th:action="@{/main}">
            <input class="form-input" name="search" placeholder="Теги через пробел" type="text">
            <button class="btn" type="submit"><i class="icon icon-search"></i></button>
        </form>
    </section>
</header>

<br>
<br>
<br>

<div class="container">
    <div class="columns">
        <div class="columns m-2">
            <div class="column" th:each="sticker : ${stickers}">
                <img class="p-centered" th:src="${sticker.src}">
                <form class="form-group" method="post" th:action="@{/main/changeTags}">
                    <input name="fileUniqueId" th:value="${sticker.sticker.fileUniqueId}" type="hidden">
                    <input name="search" th:if="${param.search}" th:value="${param.search}" type="hidden">
                    <input class="form-input" name="tags" placeholder="Теги через пробел" type="text"
                           th:value="${sticker.tags}">
                    <input class="btn form-wide" type="submit" value="Применить">
                </form>
                <form class="form-group" method="post" th:action="@{/main/deleteSticker}">
                    <input name="fileUniqueId" th:value="${sticker.sticker.fileUniqueId}" type="hidden">
                    <input name="search" th:if="${param.search}" th:value="${param.search}" type="hidden">
                    <input class="btn form-wide" type="submit" value="Удалить стикер">
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>