<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Главная страница</title>
</head>
<body>

<div>
    Залогинен как [[${username}]]
    <form th:action="@{/logout}">
        <input type="submit" value="Выйти">
    </form>
</div>
<br>
<form th:action="@{main}" method="get">
    <input type="text" name="searchBy" placeholder="Теги через пробел">
    <input type="submit" value="Искать по тегам">
</form>
<br><br>

<div>
    <div th:each="webtag : ${webtags}">
        <h2 th:text="${webtag.name}" class="tagname">Название тега</h2>
        <div th:each="stickerList : ${webtag.stickers}" class="flex_container">
            <div th:each="sticker : ${stickerList}">
                <img th:src="${sticker.src}" class="block">
                <form th:action="@{main/changeTags}" method="post" class="block sform">
                    <input type="hidden" name="stickerId" th:value="${sticker.sticker.fileUniqueId}">
                    <input type="hidden" name="fileId" th:value="${sticker.sticker.fileId}">
                    <input type="hidden" name="tagName" th:value="${webtag.name}">
                    <input type="text" name="tags" placeholder="Теги через пробел" class="block">
                    <p><input type="radio" name="action" value="copy">Копировать в теги</p>
                    <p><input type="radio" name="action" value="move">Перенести в теги</p>
                    <input type="submit" value="Применить" class="block">
                </form>
                <form th:action="@{main/deleteFromTag}" method="post" class="block sform">
                    <input type="hidden" name="stickerId" th:value="${sticker.sticker.fileUniqueId}">
                    <input type="hidden" name="fileId" th:value="${sticker.sticker.fileId}">
                    <input type="hidden" name="tagName" th:value="${webtag.name}">
                    <input type="submit" value="Удалить из тега" class="block">
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>